{% extends "template.html" %}

{% block title %} BALANCE INQUIRY {% endblock %}

{% block head %}

<style>
  .container{
    display:flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button{
    width: 25%;
    padding: 10px;
    background-color: #FEC288;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
      background-color: #FD8A6B;
  }

  button:active {
      background-color: #FA5C5C;
  }
</style>
{% endblock %}
{% block content %}

<div class = "container">
  <div id = "balance-container"
    hx-get="/balance/{{ current_user.as_ref().unwrap() }}"
    hx-trigger="transaction_complete from:body"
    hx-target="this"
    hx-swap="innerHTML"
    >
    {% include "fragments/balance_display.html" %}
  </div>

  <button

    hx-get="/balance/{{ current_user.as_ref().unwrap() }}"
    hx-target="#balance-container"
    hx-swap="innerHTML"
    
  >
  Refresh Balance
  </button>
</div>

{% endblock %}
