{% extends "template.html" %}

{% block title %} BANK DASHBOARD {% endblock %}

{% block head %}

<style>
  .container{
    display:flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

</style>

{% endblock %}

{% block content %}

<div class = "container">

  <div>
    <h1 style = "font-size: 50px;">
      BANK DEEZ NUTS!
    </h1>
  </div>

  <div>
    <a href = "/create"
      style = "font-size: 25px;
              display: inline-block;
              background-color: #FEC288;
              color: white;
              padding: 10px 20px;
              text-decoration: none;
              border-radius: 5px;
              ">
      SIGN UP NOW!
    </a>
  </div>

</div>

{% endblock %}
