{% extends "template.html" %}

{% block title %} BANK DASHBOARD {% endblock %}

{% block head %}

<style>
  .container{
    display:flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

{% endblock %}

{% block content %}

<div class = "container">

  <div>
    <h1 style = "font-size: 50px;">
      BANKING WEB APP TEST
    </h1>
  </div>

  <div id = "balance-container"
    hx-get="/fragments/balance/{{ current_user.as_ref().unwrap() }}"
    hx-trigger="transaction_complete from:body"
    hx-target="this"
    hx-swap="innerHTML"
    >
    {% include "fragments/balance_display.html" %}
  </div>

  <div id = "deposit-container"
    hx-get="/deposit/{{ current_user.as_ref().unwrap() }}"
    hx-trigger="transaction_complete from:body"
    hx-target="this"
    hx-swap = "innerHTML"
    >
    {% include "fragments/deposit_display.html" %}
  </div>

  <div id = "withdraw-container"
    hx-get="/withdraw/{{ current_user.as_ref().unwrap() }}"
    hx-trigger="transaction_complete from:body"
    hx-target="this"
    hx-swap = "innerHTML"
    >
    {% include "fragments/withdraw_display.html" %}
  </div>

</div>

{% endblock %}
