{% extends "template.html" %}

{% block title %} SIGN UP {% endblock %}

{% block head %}

<style>

  .container{
    display:flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form{
    display: flex; 
    flex-direction: column; 
    width: 300px;
    gap: 10px;
  }

  input[type = "text"], input[type = "password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FEC288;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
      background-color: #FD8A6B;
  }

  button[type="submit"]:active {
      background-color: #FA5C5C;
  }

</style>

{% endblock %}

{% block content %}

<div class = "container">
  <form class ="form" action = "/create" method = "POST">

    <div class = "form-div">
      <label for = "owner"> Owner: </label>
      <input type = "text" id = "owner" name = "owner">
    </div>

    <div class = "form-div">
      <label for = "pin"> Pin: </label>
      <input type = "password" id = "pin" name = "pin">
    </div>

    <div class = "form-div">
      <label for = "confirm_pin"> Confirm Pin: </label>
      <input type = "password" id = "confirm_pin" name = "confirm_pin">
    </div>

    <button type = "submit"> Sign Up! </button>
  </form>
</div>

{% endblock %}

