<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {title} {% endblock %}</title>
    <link href="css/style.css" rel="stylesheet">

  <style>
  
  body{
    background-color: #FEEAC9;
  }
  ul{
      display: flex;
      list-style-type: none;
      background-color: #FA5C5C;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
  }

  li{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flash-message{
    background: #d4edda; 
    color: #155724; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px;
  }

</style>

    {% block head %}{% endblock %}
</head>
  <body>
    <main>

      <div id = "content"> 
        <nav id = "nav-bar">
          <ul>
            <li><a href="/">Home</a></li>
            {% match current_user %}
              {% when Some(id) %}
                <li><a href="/balance/{{ id }}">Balance</a></li>
                <li><a href="/deposit/{{ id }}">Deposit</a></li>
                <li><a href="/withdraw/{{ id }}">Withdraw</a></li>
                <li><span syle = "float:right"> Account: {{ id }} </span></li>

              {% when None %} 
                <li><a href="/create">Create Account</a></li>
            {% endmatch %}
          </ul>
        </nav>

        {% match msg %}
          {% when Some(msg) %}
            <div class = "flash-message">
              {{ msg }}
            </div>
            {% when None %}
        {% endmatch %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
