{% extends "template.html" %}

{% block title %} Withdraw Money {% endblock %}

{% block head %}

<style>

  .container{
    display:flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form{
    display: flex; 
    flex-direction: column; 
    width: 300px;
    gap: 10px;
  }

  input[type = "text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FEC288;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
      background-color: #FD8A6B;
  }

  button[type="submit"]:active {
      background-color: #FA5C5C;
  }

</style>

{% endblock %}

{% block content %}

<div class = "container">
<form class ="form" hx-post = "/withdraw/{{ acc_num }}" hx-swap = "outerHTML">

    <div>
      <label for = "amount"> Amount: </label>
      <input type = "text" id = "amount" name = "amount" style ="width: 200px;">
    </div>

    <button type = "submit"> Withdraw! </button>
  </form>
</div>

{% endblock %}

